body{
    background-color:#1d4286;
    width:1440px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    font-family: tahoma;
}

#header2 {
    color:#fafeff;
    background-color:blue;
    height:350px;
    width:1440px;
    margin-left:auto;
    margin-right:auto;
    margin-top:0px;
    padding-left:auto;
    padding-right:auto;
    padding-bottom:40px;
    text-align:center;
    background-image: url(Stjohns.png);
    background-position-y:-300px;;
    background-size:cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: ease-in;
}

#tagline {
    padding-top:0px;
    font-size: 45px;
    transition: ease-in;
}

#logo {
    height: 200px;
    padding-right: 1250px;
}

nav{
    color:#fafeff;
    background-color:#292929;
    text-align:center;
    height:37px;
    width: 1440px;
    font-size:20px;
    margin-top: 136px;
    padding-top:10px;
    padding-bottom:0px;
    text-decoration-line:none;
}
a{
    color:#fafeff;
    margin: 5px;
    text-decoration:none;
    ;
}

#Introduction {
    color: #fafeff;
    height: 80px;
    width:800px;
    margin-top: 15px;
    margin-left: auto;
    margin-right:auto;
    font-size: 22px;
    line-height: 2;
    text-align:center;
}

.container2 {
    background-color: #1d4286;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 350px, 350px, 350px;
    grid-gap: 2px;
}

#InfoBoxPhone {
    background-color: #0097b2;
    color: #fafeff;
    height: 220px;
    width:300px;
    grid-column: 1;
    margin-left: auto;
    margin-right: auto;
}
#InfoBoxEmail {
    background-color: #0097b2;
    color: #fafeff;
    height: 220px;
    width:300px;
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}
#InfoBoxAddress {
    background-color: #0097b2;
    color: #fafeff;
    height: 220px;
    width:300px;
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
    line-height: 0.5;
}

.wrapper{
    background-color: #0097b2;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-family: tahoma;
}

.wrapper input {
    border-radius: 5px;
    border: none;
    height: 30px;
}


.input_field #name{
    width: 35%;
    margin: 5px;
}

.input_field #email{
    width: 35%;
    margin: 5px;
}

.input_field #phone{
    width: 35%;
    margin: 5px;
}

.input_field textarea{
    margin-top: 20px;
    font-family: tahoma;
    width: 56%;
    border:none;
    border-radius:5px;
    resize: none;
}

.button input{
    color:#fafeff;
    font-style:italic;
    background-color:#1d4286;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:22px;
    border:none;
    border-radius:5px;
}

.wrapper #error_message{
    margin-bottom: 20px;
    padding: 0px;
    background: #ff1313;
    text-align:center;
    font-size: 16px;
    width: 40%;
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#contact_info {
    color:#fafeff;
    background-color:#292929;
    text-align:center;
    height:37px;
    width: 1440px;
    font-size:20px;
    margin-top: 0px;
    padding-top:10px;
    padding-bottom:0px;
    text-decoration-line:none;  
}

footer {
    color:#fafeff;
    background-color:#292929;
    text-align:center;
    height:37px;
    width: 1440px;
    font-size:20px;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top:10px;
    padding-bottom:0px;
    text-decoration-line:none;  
}