:root {
    --UIGreen: rgb(76, 198, 88);
    --favBlue: rgb(56, 93, 196);
}

body {
    background-color: var(--favBlue);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

main {
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 5px;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    color: var(--favBlue);
}

#welcome {
    color: white;
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 10px;
    text-align: center;
}

.profile {
    color: black;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.profile>#about>.projectButtons>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: var(--favBlue);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    margin-right: 15px;
}

.favorites {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right: 35px;
}

#about {
    margin-bottom: 190px;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

#favorites p {
    font-weight: bold;
}

div {
    text-align: left;
}

#portrait {
    border: 10px solid var(--UIGreen);
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
    margin-top: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.profile #about .projectButtons a:hover{
    background-color: var(--UIGreen);
    color: black;
    border: 3px solid black;
    border-radius: 70px;
}

#buttons button, #todo-form button {
    background-color: var(--UIGreen);
    color: white;
    border: none;
    border-radius: 70px;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}

#buttons button:hover, #todo-form button:hover {
    background-color: var(--UIGreen);
    color: black;
    border: 3px solid black;
    border-radius: 70px;
}

#todo-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 15px;
    color: black;
}

.todo-list li {
    margin-top: 5px;
}

.todo-list li span {
    padding-right: 8px;
}

#todo-form button {
    background-color: var(--favBlue);
    color: white;
    font-weight: bold;
    border: none;
    padding: 8px 12px;
    border-radius: 25px;
    cursor: pointer;
}

#new-todo {
    width: 70%;
    padding: 8px;
    border: 1.5px solid rgb(35, 31, 132);
    border-radius: 15px;
}

#image {
    text-align: center;
    margin-top: 20px;
}

#pokemonName {
    text-transform: capitalize;
    text-align: center;
}

#pokemonHeader {
    text-align: center;
}

#image img {
    width: 50%;
    padding: 0px;
    margin: 0px;
}

#newPokemon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgb(35, 31, 132);
    color: white;
    font-weight: bold;
    border: none;
    padding: 30px 30px;
    border-radius: 70px;
    cursor: pointer;
    font-size: 18px;
}

#newPokemon:hover {
    background-color: var(--UIGreen);
    color: black;
    border: 5px solid black;
}

#newPokemon:active {
    transform: scale(0.95);
    background-color: black;
    color: var(--UIGreen);
    border: none;
}